/* Common styles */
:root {
  --dark-color: #2e2f42;
  --body-text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --white-background-color: #ffffff;
  --pressed-state-color: #404bbf;
  --cloud-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text-color);
  background-color: var(--white-background-color);
}

a {
  text-decoration: none;
  font-style: normal;
}
.list {
  list-style-type: none;
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.header-nav {
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}
.header-logo-black {
  color: var(--dark-color);
}

.header-list {
}
.header-item {
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.header-item :hover,
.header-item :focus {
  color: var(--pressed-state-color);
}
.address-list {
}

.address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

.address-item :hover,
.address-item :focus {
  color: var(--pressed-state-color);
}
/**
  |============================
  | Hero styles
  |============================
*/
.main {
}
.section-hero {
  background-color: var(--dark-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  text-align: center;
}
.hero-button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/**
  |============================
  | Benefits styles
  |============================
*/
.section-benefits {
}
.benefits-title {
}
.benefits-list {
}
.benefits-item {
}
.benefits-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.benefits-descritpion {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/**
  |============================
  | Servises styles
  |============================
*/
.section-services {
}
.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.services-list {
}
.services-item {
}
.services-img {
}

/**
  |============================
  | Team section styles
  |============================
*/
.section-team {
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.team-list {
}
.team-member {
}
.team-img {
}
.member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.member-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  background-color: var(--dark-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-background-color);
}
.footer-logo-blue {
  color: var(--primary-brand-color);
}
.footer-slogan {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
}
